<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRGgtlffDE13OKU61aPREYWITKpyZNtGs</string>
	<key>GCM_SENDER_ID</key>
	<string>129474244975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectEcommerce</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-9562e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-9562e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129474244975:ios:7ab5af7422b12321f7f89a</string>
</dict>
</plist>